.alert {
  position: absolute;
  top: 30px;
  right: 50px;
  margin: 0;
  min-width: 300px;
  min-height: 40px;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  padding: 10px;
  background-color: #d41010ea;
}
